@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 27 36;
    --foreground: 255 245 224;

    --card: 32 34 44;
    --card-foreground: 255 245 224;

    --popover: 32 34 44;
    --popover-foreground: 255 245 224;

    --primary: 65 176 110;
    --primary-foreground: 255 245 224;

    --secondary: 41 236 180;
    --secondary-foreground: 255 245 224;

    --accent: 255 245 224;
    --accent-foreground: 25 27 36;

    --destructive: 214 77 77;
    --destruction-foreground: 255 255 255;

    --error: 247 111 111;
    --error-foreground: 255 255 255;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 255 255 255;
    --foreground: 255 245 224;

    --card: 32 34 44;
    --card-foreground: 255 245 224;

    --popover: 32 34 44;
    --popover-foreground: 255 245 224;

    --primary: 65 176 110;
    --primary-foreground: 255 245 224;

    --secondary: 41 236 180;
    --secondary-foreground: 255 245 224;

    --accent: 255 245 224;
    --accent-foreground: 25 27 36;

    --destructive: 214 77 77;
    --destruction-foreground: 255 255 255;

    --error: 247 111 111;
    --error-foreground: 255 255 255;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
