@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #191b24;
    --foreground: #fff5e0;

    --card: #20222c;
    --card-foreground: #fff5e0;

    --popover: #20222c;
    --popover-foreground: #fff5e0;

    --primary: #41b06e;
    --primary-foreground: #fff5e0;

    --secondary: #8decb4;
    --secondary-foreground: #fff5e0;

    --accent: #fff5e0;
    --accent-foreground: #074173;

    --destructive: #d64d4d;
    --destruction-foreground: white;

    --error: #f76f6f;
    --error-foreground: white;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #141e46;
    --foreground: #fff5e0;

    --card: #074173;
    --card-foreground: #fff5e0;

    --popover: #074173;
    --popover-foreground: #fff5e0;

    --primary: #41b06e;
    --primary-foreground: #fff5e0;

    --secondary: #8decb4;
    --secondary-foreground: #fff5e0;

    --accent: #fff5e0;
    --accent-foreground: #074173;

    --destructive: #d64d4d;
    --destruction-foreground: white;

    --error: #f76f6f;
    --error-foreground: white;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
